body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/img/white-wallpaper-18.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  padding: 20px;
  margin-top: 60px;
  box-shadow: 10px 10px 5px #abaeaf;
}
form button,
form h5 {
  margin: 20px 0;
}
.ul {
  float: right;
}
@media only screen and (max-width: 431px) {
  .logo {
    font-size: 19px;
  }
  .ul a {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  #sidenav_2 {
    width: 50% !important;
  }
  .ul {
    float: left !important;
  } 
}

@media only screen and (min-width: 992px) {
  .side-nav {
    visibility: hidden;
  }
}
